# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='mysql://root:123456789@localhost:3306/financeiro'
PORT=3000
BCRYPT_SALT=12
JWT_SECRET_KEY='b39311c63373f445534e3e8677f8d4c3'
JWT_EXPIRATION_IN_MS=86400000 #24H